name: Deploy Hexo Blog

# 监听 main 分支推送，有推送则触发构建，使用 main 分支源码构建
on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          submodules: false

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'yarn' # 自动缓存 yarn 依赖，加速后续构建

      - name: Install Dependencies
        run: yarn install --frozen-lockfile # 使用 frozen-lockfile 确保严格遵循 lock 文件

      - name: Build Hexo
        run: |
          yarn hexo clean
          yarn hexo generate

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} # 自动调用系统默认 Token
          publish_dir: ./public # Hexo 生成的静态文件目录
          publish_branch: gh-pages # 部署到该分支
